.message {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50 px;
}

.board_boundaries {
    height: 600px;
    width: 600px;
}

.board {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;
}

.red-home {
    grid-row: 1 / 5;
    background-color: darkred;
    border-top: 1px black solid;
    font-size: xx-large;
    color: black;
    text-align: center;
}

.green-home {
    grid-row: 1 / 5;
    background-color: darkgreen;
    border-top: 1px black solid;
    font-size: xx-large;
    color: black;
    text-align: center;
}

.yellow-home {
    grid-row: 10 / 14;
    background-color: gold;
    border-bottom: 1px black solid;
    font-size: xx-large;
    color: black;
    text-align: center;
}

.blue-home {
    grid-row: 10 / 14;
    background-color: darkblue;
    border-bottom: 1px black solid;
    font-size: xx-large;
    color: black;
    text-align: center;
}

.red_tile {
    background-color: darkred;
    border: 1px black solid;
    font-size: xx-large;
    color: black;
    text-align: center;
}

.green_tile {
    background-color: darkgreen;
    border: 1px black solid;
    font-size: xx-large;
    color: black;
    text-align: center;
}

.blue_tile {
    background-color: darkblue;
    border: 1px black solid;
    font-size: xx-large;
    color: black;
    text-align: center;
}

.yellow_tile {
    background-color: gold;
    border: 1px black solid;
    font-size: xx-large;
    color: black;
    text-align: center;
}

.pavement {
    background-color: blanchedalmond;
    border: 1px black solid;
    font-size: xx-large;
    text-align: center;
}

.dice-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: Helvetica;
    display: inline-block;
    font-size: 16px;
}